
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

/* .main{
   color: white;
  display: flex;
  justify-content: center;
  
}


.Nav {
  padding: 20px 20px 20px 20px;
   background: linear-gradient(90deg, #001f3f, #003366); background: linear-gradient(90deg, #001f3f, #003366);
  border-radius: 0px;
   box-shadow: 16px 0 22px rgba(0, 0, 0, 0.25);
  
} */* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}
