.menu {
    background: linear-gradient(180deg, #1e293b 0%, #0f172a 100%);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 16px 0 22px rgba(0, 0, 0, 0.25);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
}

.Title {
    padding: 20px;
    text-align: center;
    color: #f8fafc;
    font-size: medium;
}

.Dash {
    text-align: center;
    font-size: medium;
    color:#e2e8f0;
    cursor: pointer;
}
.List {
    list-style: none;
    text-align: center; 
}

.List li {
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
}

.nav-link:hover {
  background-color: #004080;
}

.nav-link.active {
  background-color: #0074d9;
}

